.importCSVHeader{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Open Sans", Helvetica, sans-serif';
}
.formStyleImport{
    font-size: 25px;
    font-family: 'Open Sans", Helvetica, sans-serif';
    margin-left: 822px;
}
.importCSV{
    width: 21%;
    font-size: 20px;
    margin-left: -820px;
    margin-top: 29px;
    font-size: 27px;
    background-color: #198754;
    color: white;
    border: none;
}
.importClassMain{
    font-family: 'Open Sans", Helvetica, sans-serif';
}
